{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
      My name is Capt. Crit McGillicutty and this is my blog. In these entires, I will share with you my crew and I's adventures on the 7 seas. We have been on this sturdy ship since 1492. It's been a while. It is now 2018 and with technology so advanced these days, I can finally get share my writings with the world. Enjoy.
    </p>
      <ul> 
      {% for entry in entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
